/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 8 sept 2023, 15:44:39
    Author     : PC
*/
.contenedor_login{
    margin: 0 auto;
    width: 50%;
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
}

@media(max-width: 448px){
    .contenedor_login{
        width: 90%
    }
}
.contenedor_login_icono i{
    font-size: 4rem;
    color: rgb(45, 153, 100);
}
.contenedor_login_texto h1{
   font-size: 3.5rem;
   font-weight: 900;
}

.contenedor_login_texto h1 span{
    font-size: 4.5rem;
    font-style: italic;
    color: rgb(70, 70, 80);
}
@media(max-width: 448px){
    .contenedor_login_texto h1{
        font-size: 2.5rem;
    }
    
    .contenedor_login_texto h1 span{
        font-size: 3.5rem
    }
}
.contenedor_login_texto p{
    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
    color: rgb(133, 133, 133);
}

@media(max-width: 448px){
    .contenedor_login_texto p{
        font-size: 1.2rem;
    }
}


.header nav{
    background: rgb(214, 217, 223) !important;
}
.nav-link {
    color: rgb(61, 68, 76) !important; /* Cambia a tu color deseado */
}

.nav-link.btn:hover{
    background-color: #92B7ED; /* Cambiar boton de consultar y cerrar sesion */
    color: #ffffff;    
}

/* Cambiar el color del texto cuando el mouse está sobre las opciones de la barra */
.nav-link:hover {
    color: #ff6600; /* Cambia a tu color deseado */
}

/* O cambiar el fondo cuando el mouse está sobre las opciones de la barra */
.nav-link:hover {
    background-color: #92B7ED; /* Cambia a tu color deseado */
    color: #ffffff; /* Cambia el color del texto para asegurar que sea legible */
}

/* Otra opción: marcar todo el botón cuando el mouse está sobre las opciones de la barra */
.nav-item:hover {
    background-color: #92B7ED; /* Cambia a tu color deseado */
    color: #ffffff; /* Cambia el color del texto para asegurar que sea legible */
}

.dropdown-item:hover{
    background-color: #92B7ED; /* Cambia a tu color deseado */
    color: #ffffff; /* Cambia el color del texto para asegurar que sea legible */    
}


.btn-consultas ul{
    position: absolute !important;
}
.btn-consultas button{
    font-size: 1rem;
    text-align: left;
    padding: 0.5rem;
    font-weight: 400;
    color: rgb(61, 68, 76) !important;
    border: none !important;
}

.btn-consultas button:focus-visible{
    outline: none;
}

@media(max-width: 448px){
    .btn-consultas ul{
        position: absolute !important;
    }
}

.heading-logo{
    font-weight: 700;
    font-size: 1.2rem;
}

.heading-logo span{
    font-style: italic;
    font-weight: 900;
    font-size: 1.5rem;
    color: rgb(70, 70, 80); 
}

.heading-texto{
    text-align: center;
    color: rgb(70, 70, 80);
    
}
.heading{
    text-align: center;
    margin: 1.5rem 0 2rem 0;
    font-weight: 700;
    font-size: 2rem;
}

.heading span{
    font-style: italic;
    font-weight: 900;
    font-size: 2.5rem;
    color: rgb(70, 70, 80); 
}

.carusel-index{
    width: 85%;
}

.main{
    width: 95%;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.main-rankings{
    width: 90%;
}

@media(max-width: 448px){
    .seccion-ranking{
        overflow-x: scroll;
    }
    table{
        width: 100%;
    }
}

.formulario, .main_registro,.contenedor_registros{
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
}

.main_registro,.contenedor_registros{
    margin-top: 3rem;
}

@media(max-width: 448px){
    .formulario, .main_registro, .contenedor_registros{
        width: 85%;
    }
}

.formulario .campo{
    display: flex;
    justify-content: flex-start;
}

@media(max-width: 448px){
    .formulario_registro{
        width: 100%;
    }
}

.campo i{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255,255,255);
    padding: .7rem;
    background-color: rgb(70, 70, 80); 
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    font-size: 1.5rem;
    width: 46.38px;
    height: 46.38px;
}
.campo input{
    width: 100%;
    border: none;
    background-color: rgb(225, 225, 225);
    padding: .7rem;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

input:focus-visible{
    outline: none;
}

.contenedor_botones{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    margin-top: 2rem;
}

.contenedor_botones button{
    width: auto;
    display: flex;
    align-items: center;
    gap: .5rem;
    justify-content: center;
    font-weight: 800;
    padding: .5rem 1rem
}

@media(max-width: 448px){
    .contenedor_botones {
        flex-direction: column;
    }
    
    .contenedor_botones button{
        width: 100%
    }
}

.contenedor_acciones{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
}

.contenedor_acciones a{
    font-style: italic;
    color: rgb(133, 133, 133);
    text-decoration: none;
}

.contenedor_acciones a span{
    font-weight: 700;
}

.contenedor_spinner{
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(70, 70, 80) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.contenedor_texto_spinner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/*Elimiar registro*/
#tabla_body tr td:nth-child(4){
    vertical-align: middle;
}
#tabla_body tr td:nth-child(4) .cont_eliminar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#tabla_body tr:nth-of-type(even){
    background-color: rgb(227, 227, 227);
}
thead tr th:nth-child(4){
    text-align: center;
}
.btn_elim{
    border: none;
    background: transparent;
    border-radius: .5rem;
    transform: all .3ms linear;
}

.btn_elim:hover{
    background-color: rgb(227, 227, 227);
}
.btn_elim i{
    color: rgb(220, 80, 63);
}

.contenedor-alerta{
    margin-top: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.titulo-alerta{
    font-size: 4rem;
    font-weight: 900;
}
.titulo-alerta span{
    color: rgb(120, 12, 5);
}
.texto-alerta{
    color: rgb(75, 76, 78);
    font-style: italic;
}

.contenedor-datos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 85%;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

@media(max-width: 448px){
    .contenedor-datos{
        margin-top: 2rem;
        margin-bottom: 2rem;
        flex-direction: column;
    }
}

.contenedor-imagen{
    flex: 1;
    padding: 2rem;
    background-color: rgb(214, 217, 223);
    border-radius: 1rem;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modificar-perfil{
    width: 40%;
}

.modificar-perfil p{
    font-weight: 700;
}
@media(max-width: 448px){
    .contenedor-imagen{
        flex-direction: column;
        padding: 1rem;
    }
    .modificar-perfil{
        margin: 0 auto;
        width: 100%;
    }
}

.contenedor-imagen img{
    width: 100%
}

.contenedor-info{
    flex: 3;
    padding: 1rem;
}

@media(max-width: 448px){
    .contenedor-info{
        width: 100%;
    }
}

.contenedor-info-texto, .contenedor-info-textoextra{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1rem;
}
.datos{
    width: 100%;
    margin: 0;
    display: flex;
    align-items: stretch;
    justify-content: end;
}

.datos-p{
    margin: 0;
    padding: .5rem;
    width: 100%;
    text-align: left;
    background-color: rgb(214, 217, 223);
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

.datos i{
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    background-color: rgb(227, 227, 227);
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
}
.contenedor-info-textoextra{
    width: 100%;
}

.contenedor-registros, .contenedor-actividades, .contenedor-clase{
    width: 85%;
    margin:  0 auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
    display: flex;
    align-items: stretch;
    gap: 1rem;
    justify-content: space-evenly;
}
@media(max-width: 448px){
    .contenedor-registros, .contenedor-actividades, .contenedor-clase{
        flex-direction: column;
        gap: .5rem;
    }
}

.clases{
    width: 50%;
    margin: 0 auto;
}

.registros, .info-actividades{
    flex: 2;
}
.info-extra{
    cursor: pointer;
}
.info-registros, .actividades{
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1rem;
}

.registros .list-group .list-group-item span{
    display: flex;
    gap: .5rem;
    align-items: center;
}
.info-actividades .list-group .list-group-item span{
    display: flex;
    gap: .5rem;
    align-items: center;
}

.info-registros div, .actividades div{
    display: flex;
    align-items: stretch;
    width: 100%;
}

.info-registros h5{
    margin: 0;
}

.info-registros div i, .actividades div i{
    display: flex;
    align-items: center;
    padding: 0.5rem;
    background-color: rgb(227, 227, 227);
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.datos-registro{
    margin: 0;
    width: 100%;
    text-align: left;
    padding: .5rem;
    background-color: rgb(214, 217, 223);
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    
}

.datos-registro span{
    font-weight: 700;
    color: rgb(70, 70, 80); 
}

.datos-extra{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}

.datos-imagen{
    display: flex;
    align-items: center;
    justify-items: center;
    width: 100%;
}

.datos-imagen .contenedor-imagen{
    border-radius: 0;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}
.datos-imagen .contenedor-imagen img{
    width: 50%;
}

@media(max-width: 448px){
    .datos-extra{
        gap: 1rem;
    }
}

.contenedor-registros-socio{
    width: 50%;
    margin: 0 auto;
}

@media(max-width: 448px){
    .contenedor-registros-socio{
        width: 85%;
        margin-bottom: 3rem;
    }
}

.no-registros{
    text-align: center;
    margin: 0;
    font-weight: 700;
}
.btn-info{
    border: none;
}
