<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>RegistroUsuario</servlet-name>
        <servlet-class>servlets.RegistroUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroClase</servlet-name>
        <servlet-class>servlets.RegistroClase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inicio</servlet-name>
        <servlet-class>servlets.Inicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarRegistro</servlet-name>
        <servlet-class>servlets.EliminarRegistro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Consultas</servlet-name>
        <servlet-class>servlets.Consultas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaDictadoClase</servlet-name>
        <servlet-class>servlets.AltaDictadoClase</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistroUsuario</servlet-name>
        <url-pattern>/RegistroUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroClase</servlet-name>
        <url-pattern>/RegistroClase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inicio</servlet-name>
        <url-pattern>/Inicio</url-pattern>
        <url-pattern>/image/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarRegistro</servlet-name>
        <url-pattern>/EliminarRegistro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Consultas</servlet-name>
        <url-pattern>/Consultas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaDictadoClase</servlet-name>
        <url-pattern>/AltaDictadoClase</url-pattern>
    </servlet-mapping>
</web-app>
